<!DOCTYPE html>
<html>
<head>
  <title>Temperature Viewer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<a href="<%= root_url %>">Temperature Viewer</a>
		</div>
		<div class="body">
			<% if flash[:notice] %>
		      <p class="notice"><%= flash[:notice] %></p>
		    <% end %>
			<%= yield %>
		</div>
		<div class="footer">
			Copyright 201*, Temperature Viewer
		</div>
	</div>
</body>
</html>
